@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1;
}

body {
  font-size: 100%;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-size: 1rem;
  line-height: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img {
  width: 100%;
  max-width: initial;
  vertical-align: bottom;
}

img[src$=".svg"] {
  max-width: 100%;
}

label {
  margin-bottom: 0;
}

input[type="search"] {
  color: inherit;
  border: 1px solid #333;
  border-radius: 0;
  padding: 0.3em 0.3em 0.3em 35px;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  line-height: 1;
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
}

figure {
  margin: 0;
}

h1 {
  font-size: inherit;
}

p {
  margin: 0;
}

h2 {
  color: inherit;
  font-size: 1rem;
}

h3 {
  color: inherit;
}

dl {
  margin: 0;
}

dd {
  margin: 0;
}

h3 {
  font-size: 1rem;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 0;
}

h4 {
  color: inherit;
  font-size: inherit;
  font-weight: normal;
}

button,
input[type="button"],
input[type="submit"] {
  background-color: transparent;
}

ol {
  list-style: none;
}

a:hover,
a:active {
  color: inherit;
}

/*================================
	サイトごとに設定
=================================*/
/*================================
	メディアクエリの設定
=================================*/
/*================================
	サイト共通設定
=================================*/
html {
  font-family: "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", YuGothic, "Yu Gothic", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  font-size: 16px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
}

html * {
  font-weight: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*================================
	PC 共通設定
=================================*/
@media print, screen and (min-width: 768px) {
  html {
    overflow-y: scroll;
  }
  .sp {
    display: none;
  }
  .inner {
    width: 87.5%;
    max-width: 1400px;
    margin: auto;
  }
}

/*================================
	PC 相対値範囲設定
=================================*/
@media print, screen and (min-width: 768px) and (max-width: 1600px) {
  html {
    font-size: 1vw;
  }
}

/*================================
	SP 共通設定
=================================*/
@media only screen and (max-width: 767px) {
  html {
    font-size: 3.64583vw;
  }
  .inner {
    width: 90%;
    margin: auto;
  }
  .pc {
    display: none;
  }
}

/*================================
	JS処理系
=================================*/
.sa {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sa.show {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.sa--lr {
  -webkit-transform: translate(-100px, 0);
          transform: translate(-100px, 0);
}

.sa--rl {
  -webkit-transform: translate(100px, 0);
          transform: translate(100px, 0);
}

.sa--up {
  -webkit-transform: translate(0, 100px);
          transform: translate(0, 100px);
}

.sa--down {
  -webkit-transform: translate(0, -100px);
          transform: translate(0, -100px);
}

.sa--scaleUp {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.sa--scaleDown {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.sa--rotateL {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.sa--rotateR {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sampleSection {
  background-color: skyblue;
}

.sampleSection .textBox {
  border: 1px solid #fff;
}

.sampleSection .textBox .title {
  font-weight: 700;
}

.sampleSection .textBox .text {
  line-height: 1.5;
}

.sampleSection .flexContainer .flexItem {
  text-align: center;
  color: #fff;
  border: 1px solid #ffff;
}

.sampleSection .flexContainer .flexItem .innerItem {
  display: block;
  margin: auto;
  border: 1px solid #fff;
}

@media print, screen and (min-width: 768px) {
  .sampleSection {
    padding: 5rem 0;
  }
  .sampleSection .textBox {
    padding: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .sampleSection .textBox .title {
    font-size: 3.75rem;
    margin-bottom: 0.9375rem;
  }
  .sampleSection .textBox .text {
    font-size: 1.125rem;
  }
  .sampleSection .flexContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .sampleSection .flexContainer .flexItem {
    width: 32.14286%;
    padding: 2.5rem 0.9375rem;
    font-size: 1.25rem;
  }
  .sampleSection .flexContainer .flexItem .innerItem {
    width: 66.66667%;
    padding: 1.25rem 0;
  }
}

@media only screen and (max-width: 767px) {
  .sampleSection {
    padding: 20.83333vw 0;
  }
  .sampleSection .textBox {
    padding: 7.8125vw;
    margin-bottom: 5.20833vw;
  }
  .sampleSection .textBox .title {
    font-size: 3.21429rem;
    margin-bottom: 3.90625vw;
  }
  .sampleSection .textBox .text {
    font-size: 1.57143rem;
  }
  .sampleSection .flexContainer .flexItem {
    padding: 5.20833vw 3.90625vw;
    font-size: 1.42857rem;
  }
  .sampleSection .flexContainer .flexItem:not(:last-child) {
    margin-bottom: 5.20833vw;
  }
  .sampleSection .flexContainer .flexItem .innerItem {
    padding: 5.20833vw 0;
  }
}
